.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}

body {
    color: var(--VeryDarkBlue);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1,h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    font-size: 16px;
}

.hedder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3vw;
}

.hedder ul {
    padding: 0;
    list-style: none;
    display: flex;



}

.hedder a {
    text-decoration: none;

    color: var(--DesaturatedBlue);
    padding-left: 3vw;

}

.hedder img {
    width: min-content;
    height: min-content;
    align-self: center;
}

.top-body {
    padding: 3vw;
    display: flex;
}

.rev {

    flex-direction: row-reverse;
    justify-content: space-between;
}

.top-body img {
    width: 45vw;
    height: min-content;
    align-self: center;
}

.reg form {
    display: flex;

}

.content {
    align-self: center;
    padding-right: 10vw;
}

.sub {
    padding-left: 50px;
}

.mail input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border-radius: 3px;

}

.mail div {
    visibility: hidden;
    color: red;

}

.mail input:invalid {
    border-color: red;
    outline: none;

}

.sub input {
    background-color: var(--BrightBlue);
    padding: 11px 20px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--LightGrayishBlue);
    border: none;
    border-radius: 3px;
    width: 100%;

}


.sub input:hover {

    background-color: hsl(224, 93%, 58%, 0.5);
}
.back{
    padding: 0;
    margin: 0;
    background-image:linear-gradient(#fff 0% 85%,  var(--LightGrayishBlue)85% 100%);
}
.back img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.secound{
    margin-top: 0px;
    background-color: var(--LightGrayishBlue);
}

.linkImg img{
    width: 20px;
    vertical-align: middle;
    
}
.linkImg a{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: var(--ModerateCyan);
    
}
.linkImg a:hover {
    color:hsl(170, 45%, 43%,0.5);
}
.comment img{
    width: 20px;
}
.comment p{
    padding-top: 0;
   margin-top: 0;
}
.comment{
    margin-top: 40px;
    background-color: #fff;
    width: 20vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: gray 0px 0px 10px 0.1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.foot{
    display: flex;
    align-items: center;
    
}
.foot p{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: x-small;
    width: 700;
}
.foot img{
    border-radius: 50%;
    margin: 10px;
    width: 40px;
}
.foot h4{
    padding: 0;
    margin: 0;
}
.secLast {
    background-color: var(--DesaturatedBlue);
    color: var(--LightGrayishBlue);
    padding: 3vw;
    padding-top: 50px;
    padding-bottom: 50px;
   display: flex;     
}
.reg-bot{
    align-self: center;
}
.bot-sub{
    padding: 0;
    margin: 0;
}

.m2{
    width: fit-content;
}
.m2 input{
   
   width: 30vw;
}
.m2 input::placeholder{
    color: var(--LightGray);
}
.secCont{
    width: 50%;
    padding-right: 30px;
}
.bot-sub input{
    margin: 0;
    width: 20vw;
}
.back img{
    content: url("./images/bg-curve-desktop.svg");
    max-width: 100%;
}
.fot{
    background-color: var(--VeryDarkBlue);
    padding: 3vw;
    color: var(--LightGrayishBlue);
    
}
.fott{
    display: flex;
    justify-content: space-between;
}
.fott ul{
    list-style: none;
    
}
.fott li{
    padding-bottom: 20px;
}
.fott a{
    text-decoration: none;
    list-style: none;
    color: var(--LightGrayishBlue);
}
.ele{
    display: flex;
    
}
.ele div{
    align-self: center;
    padding-right: 10px;
}
.social ul{
    display: flex;
}
.social li{
    padding: 0px 20px;
}
.fott a:hover{
    color: var(--BrightBlue);
}


@media only screen and (max-width: 375px) {
    .hedder img {
        width: 100px;
        height: min-content;
        align-self: center;
    }

    .top-body {
        text-align: center;
        display: block;
    }

    .top-body img {
        width: 100%;
    }

    .content {
        padding: 0;
    }
    .reg form {
        display: block;
    
    }
    
    .content {
        align-self: center;
        padding-right: 0;
    }
    
    .sub {
        padding-left: 0px;
    }
    
    .mail input {
        width: 70%;
        /* padding: 10px 20px; */
        
    }
    .sub input{
        width: 80%;
        margin:0;
       
        
    }
    .secound{
        text-align: left;
    }
    .secound h1{
        text-align: center;
    }
    
    .linkImg img{
        width: 20px;
    }
    .comment{
        
        width: 75vw;
        margin:auto;
        margin-top: 30px;
    }
    .comment img{
        width: 20px;
    }
    .foot img{
        width: 40px;
    }
    .secLast{
        display: block;
    }
    .secCont{
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .m2{
        padding: 0;
        margin: 0;
        width: 80vw;
    }
    
    .reg-bot input{
        width: 100%;
        
    }
    .back img{
        content: url("./images/bg-curve-mobile.svg");
        max-width: 100%;
    }
    .fott{
        display: block;
     
    }
    .fott ul{
        padding: 0;
    }
    .social ul{
        margin: auto;
    }
    .social li{
      text-align: center;
      margin: auto;
      
    }
    
}